In [111]:
from pathlib import Path
import re
import json

import pandas as pd

from utils import read_last_line_from_file

In [112]:
OUTPUT_DIR = Path("output")

In [127]:
class Run:
    def __init__(self, log_file: Path):
        if not log_file.exists():
            raise ValueError(f"log file `{log_file}` does not exist")
        self.log_file = log_file
    
    def seed(self) -> int:
        seed = re.findall(r".*_(\d+).log", str(self.log_file))
        assert len(seed) == 1
        seed = int(seed[0])
        return seed

    def metrics(self) -> dict[str, float]:
        last_line = read_last_line_from_file(self.log_file)
        _date, metrics_string = last_line.split(" - ", maxsplit=1)
        metrics_string = metrics_string.replace("'", "\"")
        metrics = json.loads(metrics_string)
        metrics = {k: float(v) for k, v in metrics.items()}

        del metrics["Epoch"]
        return metrics


class SeededRuns:
    def __init__(
        self,
        runs: list[Run],
        model_name = "Model",
        dataset_name = None,
    ):
        self.runs = runs
        self.model_name = model_name
        self.dataset = dataset_name

    @classmethod
    def from_model_name_and_dataset(
        cls, model_name: str, dataset: str, output_dir: Path = OUTPUT_DIR, log_file_extension: str = "log",
    ):
        model_output_path = output_dir / model_name
        if not model_output_path.exists():
            raise ValueError(f"model output path `{model_output_path}` does not exist")

        seeded_runs = model_output_path.glob(f"{model_name}_{dataset}_*.{log_file_extension}")
        seeded_runs = [Run(run) for run in seeded_runs]
        return cls(seeded_runs, model_name, dataset)
    
    def seeds(self):
        return [run.seed() for run in self.runs]
    
    def metrics_df(self):
        metrics = [run.metrics() for run in self.runs]
        return pd.DataFrame(metrics)
    
    def describe_metrics_df(self, *, caption: bool = False):
        metrics_df = self.metrics_df()
        metrics_df = metrics_df.describe().loc[["mean", "std", "min", "max"]]
        if caption:
            caption = f"{self.model_name} performance on {self.dataset} over {len(self.seeds())} seeds"
            metrics_df = metrics_df.style.set_caption(caption)

        return metrics_df

In [128]:
# Models on the LastFM dataset
bert4rec_lastfm = SeededRuns.from_model_name_and_dataset("BERT4Rec", "LastFM")
sasrec_lastfm = SeededRuns.from_model_name_and_dataset("SASRec", "LastFM")
duorec_lastfm = SeededRuns.from_model_name_and_dataset("DuoRec", "LastFM")
fearec_lastfm = SeededRuns.from_model_name_and_dataset("FEARec", "LastFM")
bsarec_lastfm = SeededRuns.from_model_name_and_dataset("BSARec", "LastFM")

# Models on the Diginetica dataset
# Diginetica models
bert4rec_diginetica = SeededRuns.from_model_name_and_dataset("BERT4Rec", "Diginetica")
sasrec_diginetica = SeededRuns.from_model_name_and_dataset("SASRec", "Diginetica")
duorec_diginetica = SeededRuns.from_model_name_and_dataset("DuoRec", "Diginetica")
fearec_diginetica = SeededRuns.from_model_name_and_dataset("FEARec", "Diginetica")
bsarec_diginetica = SeededRuns.from_model_name_and_dataset("BSARec", "Diginetica")

In [134]:
display(bert4rec_lastfm.describe_metrics_df(caption=True))
display(sasrec_lastfm.describe_metrics_df(caption=True))
display(duorec_lastfm.describe_metrics_df(caption=True))
display(fearec_lastfm.describe_metrics_df(caption=True))
display(bsarec_lastfm.describe_metrics_df(caption=True))

In [135]:
display(bert4rec_diginetica.describe_metrics_df(caption=True))
display(sasrec_diginetica.describe_metrics_df(caption=True))
display(duorec_diginetica.describe_metrics_df(caption=True))
display(fearec_diginetica.describe_metrics_df(caption=True))
display(bsarec_diginetica.describe_metrics_df(caption=True))